<footer class="p-3">
    <p class="text-center pb-3">**หมายเหตุ ข้อมูลใช้เพื่อการศึกษาวางแผน ไม่สามารถใช้อ้างอิงทางกฏหมายและคดีความ</p>
    <p class="text-center">Copyright &copy; 2020 โครงการพัฒนาระบบสารสนเทศเตรียมความพร้อมรับมือภัยน้ำท่วมและดินถล่ม จังหวัดเชียงรายประจำปี 2562 All right reserved</p>
</footer>