<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Title --}}
    <title>{{ title }}</title>

    {{!-- Tailwind --}}
    <script src="https://cdn.tailwindcss.com"></script>


    {{!-- Font --}}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

        body {
            font-family: 'Prompt', sans-serif;
        }
    </style>
</head>

<body>

</body>

</html>