<nav class="p-3 bg-pink-900">
    <p class="text-center text-white">โครงการพัฒนาระบบสารสนเทศเตรียมความพร้อมรับมือภัยน้ำท่วมและดินถล่ม จังหวัดเชียงราย
        สำนักงานป้องกันและบรรเทาสาธารณภัยจังหวัดเชียงรายร่วมกับมหาวิทยาลัยเชียงใหม่</p>
</nav>

<div class="duration-300 w-60 h-full bg-white shadow-md z-50 fixed inline">
    <div class="pt-5 px-3">
        <a href="/" class="flex rounded-md hover:bg-gray-300 h-12 hover:text-black text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                class="bi bi-geo-alt my-auto ml-2" viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <p class="text-md ml-2 my-auto">พื้นที่ A ต.แม่สลองใน</p>
        </a>
        <a href="map-b" class="flex rounded-md hover:bg-gray-300 h-12 hover:text-black text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                class="bi bi-geo-alt my-auto ml-2" viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <p class="ml-2 my-auto">พื้นที่ B ต.แม่สลองนอก</p>
        </a>
        <a href="map-b" class="flex rounded-md hover:bg-gray-300 h-12 hover:text-black text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                class="bi bi-geo-alt my-auto ml-2" viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <p class="ml-2 my-auto">พื้นที่ C ต.ตับเต่า</p>
        </a>
        <a href="map-b" class="flex rounded-md hover:bg-gray-300 h-12 hover:text-black text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                class="bi bi-geo-alt my-auto ml-2" viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <p class="ml-2 my-auto">พื้นที่ D ต.วาร</p>
        </a>
        <a href="map-b" class="flex rounded-md hover:bg-gray-300 h-12 hover:text-black text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                class="bi bi-geo-alt my-auto ml-2" viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <p class="ml-2 my-auto">พื้นที่ E ต.เวียงเชียงแสน</p>
        </a>
        <a href="map-b" class="flex rounded-md hover:bg-gray-300 h-12 hover:text-black text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" fill="currentColor"
                class="bi bi-geo-alt my-auto ml-2" viewBox="0 0 16 16">
                <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z">
                </path>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
            </svg>
            <p class="ml-2 my-auto">พื้นที่ F ต.เวียงเชียงของ</p>
        </a>
    </div>
</div>